@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


body{
    margin: 0;
}

body *{
    font-family: "Lexend";
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/*                     */
/*      TOP MAIN       */
/*                     */
.top-main{
    background-color: #414141;
    position: fixed;
    width: 100vw;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: end;
    transition: background 0.2s linear;
}

.top-main .checkbox, .label{
    margin-right: 2%;
}

.checkbox {
    opacity: 0;
    position: absolute;
}
  
.label {
    background-color: #2c2c2c;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);  
}
  
  
.label .ball {
    background-color: #1ABA8D;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
  
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
  
.fa-moon {
    color: #f1c40f;
}
  
.fa-sun {
    color: #f39c12;
}

/*                      */
/*      LEFT MAIN       */
/*                      */
.left-main{
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-left-main{
    width: 52%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-color: #414141;
    border-radius: 40px;
    box-shadow: 0px 15px 25px #00000040;

    position: relative;
    animation: slideIn 1.5s forwards;
}

.card-left-main > h1{
    color: #1ABA8D;
    font-weight: 700;
    font-size: 2.2vw;
    margin: 0;
    margin-bottom: 30px;
}

.card-left-main > label{
    color: #AEAEAE;
    font-weight: 500;
    font-size: 1vw;
    height: 51%;
    margin-bottom: 30px;
    box-sizing: border-box;
    flex-grow: 1;
    cursor: text;
}

.card-left-main > button{
    border: 6px solid #1ABA8D;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #1ABA8D;
    color: #1ABA8D;
    font-weight: 500;
    font-size: 1vw;
    padding: 16px 60px;
    box-sizing: border-box;
    transition: 0.4s;
}

.card-left-main > button:hover{
    background-color: #1ABA8D;
    color: #F1F1F1;
}

/*                      */
/*      RIGHT MAIN      */
/*                      */
.right-main{
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-right-main{
    width: 65%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 45px 70px 70px 70px;
    background-color: #414141;
    border-radius: 40px;
    box-shadow: 0px 15px 25px #00000040;

    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.card-right-main > h1{
    color: #6366F1;
    font-weight: 900;
    font-size: 2vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 70px;
}

.textfield > label{
    color: #AEAEAE;
    font-weight: 500;
    font-size: 1vw;
    margin-bottom: 9px;
}

.textfield > input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;

    font-size: 12pt;
    padding: 15px;

    background-color: #666666;
    color: #AEAEAE;

    box-sizing: border-box;
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-grow: 1;
}

.botoes > button{
    border: none;
    outline: none;
    background-color: #6366F1;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 10px 15px #6366F140;
    color: #F1F1F1;
    font-weight: 700;
    padding: 28px 10px;
    font-size: 1vw;
    box-sizing: border-box;
    transition: 0.4s;
}

.botoes > button:hover{
    background-color: #5759d3;
}

/*                      */
/*      LIGHT MODE      */
/*                      */
.light .main{
    background-color: #D6D6D6;
}

.light .label{
    background-color: #D9D9D9;
}

.light .top-main,
.light .card-left-main,
.light .card-right-main{
    background-color: #BEBEBE;
}

.light h1,
.light label{
    color: #484848;
}

.light .botoes > button{
    background-color: #2F8CE3;
    box-shadow: 0px 10px 15px  #2F8CE340;
}

.light .botoes > button:hover{
    background-color: #297bc7;
}

.light .card-left-main > button{
    border: 6px solid #2F8CE3;
    box-shadow: 0px 0px 10px #2F8CE3;
    color: #2F8CE3;
}

.light .card-left-main > button:hover{
    background-color: #2F8CE3;
    color: #F1F1F1;
}


.light input{
    background-color: #EDEDED;
}

.light .fa-moon,
.light .fa-sun{
    color: #4d4d4d;
}

/*                     */
/*      ANIMACOES      */
/*                     */
@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }